#**Python - Data Structure**

#**Data Types and Structures Questions**

**Quest 1**-  What are data structures, and why are they important?

**Ans 1**- Data structures are specialized formats or organizing, storing, and managing data in a computer's memory so that it can be used efficiently. The importance iof data structure in python are:

*   Efficiency and Performance: Using the correct data structure can significantly improve the speed and performance of a program.

*   Code Organization and Readability: Data structures provide a logical way to organize data, making the code cleaner, more maintainable, and easier for other developers to understand and debug.

* Problem-Solving: Different data structures are designed to solve specific types of problems efficiently.

**Quest 2**-  Explain the difference between mutable and immutable data types with examples?

**Ans 2**- **Mutable data types** can be modified after they are created, directly changing the original object in memory where as **Immutable data types**, once created, cannot be altered; any operation that seems to modify them actually results in a new object being created.

Example for mutable data type are list, dictionary, sets where as example for immutable data type are string, tuples and frozensets.

**Quest 3**- What are the main differences between lists and tuples in Python?

**Ans 3**- The difference between Python lists and tuples is that **lists** are mutable (changeable) while **tuples** are immutable (unchangeable). This fundamental distinction impacts their syntax, performance, and typical use cases. **Lists** cannot be used in Dictionary keys where **Tuples** can be used in Dictionary keys.

**Quest 4**- Describe how dictionaries store data?

**Ans 4**- Dictionaries store data as key-value pairs using an underlying data structure known as a hash table (or hash map).

**Quest 5**- Why might you use a set instead of a list in Python?

**Ans 5**- You might use a Python set instead of a list when you need to store only unique elements, require fast membership testing (checking if an item is present), or need to perform mathematical set operations like unions and intersections.

**Quest 6**-  What is a string in Python, and how is it different from a list?

**Ans 6**- In Python, a string is an immutable sequence of Unicode characters used to represent text, while a list is a mutable ordered collection of items of potentially different data types. The primary difference lies in mutability: lists can be changed after creation, while strings cannot.

**Quest 7**- How do tuples ensure data integrity in Python?

**Ans 7**- Tuples ensure data integrity in Python primarily through their core characteristic of immutability. This means that once a tuple is created, its elements cannot be changed, added, or removed, which guarantees that the data remains constant and protected from accidental modification throughout the program's execution.

**Quest 8**- What is a hash table, and how does it relate to dictionaries in Python?

**Ans 8**- A hash table is a data structure used to store and retrieve data in key-value pairs very quickly, typically with an average time complexity of O(1). The Python 3 dictionary (dict) is a built-in implementation of a hash table.

**Quest 9**- Can lists contain different data types in Python?

**Ans 9**- Yes, Python lists can contain elements of different data types within the same list. This flexibility makes them a versatile and powerful data structure.

**Quest 10**-  Explain why strings are immutable in Python?

**Ans 10**- Strings are immutable in Python, meaning their value cannot be changed after creation, as a deliberate design choice to provide benefits such as thread safety, predictable behavior, and efficient memory management.

**Quest 11**- What advantages do dictionaries offer over lists for certain tasks?

**Ans 11**- Dictionaries offer superior performance for searching, inserting, and deleting data compared to lists, providing average-case
 time complexity due to their hash table structure. They excel at storing data as key-value pairs, allowing for fast, label-based retrieval rather than relying on slow numerical index lookups or scanning through large datasets.

**Quest 12**-  Describe a scenario where using a tuple would be preferable over a list?

**Ans 12**- A scenario where using a tuple is preferable over a list is when you need to store related, heterogeneous data that should remain constant throughout the program's execution, such as a database record or a set of coordinates.

**Quest 13**- How do sets handle duplicate values in Python?

**Ans 13**- In Python, sets automatically remove duplicate values; each element in a set is unique. This behavior is a core characteristic of the set data type, designed for operations that require a collection of distinct items.

**Quest 14**- How does the “in” keyword work differently for lists and dictionaries?

**Ans 14**- The in keyword in Python is a membership operator that checks for the presence of an item in a collection.

In **Lists** the operator checks if the specified value is present as an element in the list. It performs a value search across the list items where as in **Dictionaries** the operator checks for the presence of a key in the dictionary, not a value.

**Quest 15**- Can you modify the elements of a tuple? Explain why or why not?

**Ans 15**- No, you cannot modify the elements of a tuple after it has been created because tuples are immutable data structures in Python. Once a tuple is defined, its size and content are fixed. You cannot add, remove, or replace individual items using indexing or slicing assignment.This immutability ensures data integrity, which is useful for storing data that should remain constant throughout the program, such as configuration settings or database records.

**Quest 16**- What is a nested dictionary, and give an example of its use case?

**Ans 16**- A nested dictionary is a dictionary where one or more of the values are themselves dictionaries.

employees = {
    "Ram_singh": {
        "first_name": "Ram",
        "last_name": "singh",
        "position": "Software Engineer",
        "salary": 75000,
        "skills": ["Python", "JavaScript", "SQL"]
    },
    "shyam_gupta": {
        "first_name": "shyam",
        "last_name": "gupta",
        "position": "Project Manager",
        "salary": 80000,
        "skills": ["Agile", "Scrum", "Leadership"]
    }
}

**Quest 17**- Describe the time complexity of accessing elements in a dictionary?

**Ans 17**- Accessing elements in a dictionary has an average-case time complexity of O(1) (constant time) and a worst-case complexity of O(n) (linear time).

**Quest 18**- In what situations are lists preferred over dictionaries?

**Ans 18**- Lists are preferred over dictionaries when data requires a specific, ordered sequence, allows duplicate values, or when fast index-based access (
) is needed rather than key-based lookup. Lists are ideal for ordered collections, such as stacks or queues, and for scenarios requiring frequent iteration, sorting, or slicing.

**Quest 19**- Why are dictionaries considered unordered, and how does that affect data retrieval?

**Ans 19**- Dictionaries are considered unordered because they map keys to values using hash tables for rapid, O(1) retrieval, rather than storing elements in a sequential, indexable order.

**Quest 20**- Explain the difference between a list and a dictionary in terms of data retrieval?

**Ans 20**- The primary difference in data retrieval is that a **list** uses sequential integer indices for access, while a **dictionary** uses unique, descriptive keys. **Dictionaries** are optimized for very fast, direct lookups by key, whereas searching a **list** for a specific value (not by index) is slower for large collections.

#**Practical Questions**

In [1]:
# Quest 1- Write a code to create a string with your name and print it?
# Answer
name="smriti agarwal"
print(name)

smriti agarwal

In [2]:
# Quest 2- Write a code to find the length of the string "Hello World".
# Answer
string="Hello World"
print(len(string))

11

In [3]:
# Quest 3-  Write a code to slice the first 3 characters from the string "Python Programming".
# Answer
string="Python Programming"
print(string[:3])

Pyt

In [4]:
# Quest 4-  Write a code to convert the string "hello" to uppercase.
# Ansswer
string="hello"
print(string.upper())

HELLO

In [5]:
# Quest 5- Write a code to replace the word "apple" with "orange" in the string "I like apple.
# Answer
string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [6]:
# Quest 6- Write a code to create a list with numbers 1 to 5 and print it.
# Answer
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# Quest 7- Write a code to append the number 10 to the list [1, 2, 3, 4].
# Answer
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
# Quest 8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
# Answer
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
# Quest 9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
# Answer
list=['a','b','c','d']
print(list[1])

b

In [10]:
# Quest 10- Write a code to reverse the list [10, 20, 30, 40, 50].
# Answer
list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [11]:
# Quest 11- Write a code to create a tuple with the elements 100, 200, 300 and print it.
# Answer
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [12]:
# Quest 12- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
# Answer
tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

In [13]:
# Quest 13- Write a code to find the minimum number in the tuple (10, 20, 5, 15).
# Answer
tuple=(10,20,5,15)
print(min(tuple))

5

In [14]:
# Quest 14-  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
# Answer
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [15]:
# Quest 15- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
# Answer
tuple=("apple","banana","orange")
print("kiwi" in tuple)

False

In [48]:
# Quest 16-  Write a code to create a set with the elements 'a', 'b', 'c' and print it
# Answer
s={'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [59]:
# Quest 17- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
# Answer
a1={1,2,3,4,5}
a1.clear()
print(a1)

set()

In [50]:
# Quest 18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.
# Answer
a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [19]:
# Quest 19-  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
# Answer
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# Quest 20- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
# Answer
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# Quest 21-  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Answer
dict={"name":"smriti","age":20,"city":"delhi"}
print(dict)

{'name': 'smriti', 'age': 20, 'city': 'delhi'}

In [22]:
# Quest 22- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
# Answer
dict={'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Quest 23-  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
# Answer
dict={'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [30]:
# Quest 24- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
# Answer
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [31]:
# Quest 25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
# Answer
dict={'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [33]:
# Quest 26- Write a code to create a list, a tuple, and a dictionary, and print them all.
# Answer
list=[1,2,3,4]
tuple=(1,2,3,4)
dict={"name":"smriti","age":20,"city":"delhi"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'smriti', 'age': 20, 'city': 'delhi'}

In [35]:
# Quest 27- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced).
# Answer
list=[34,67,12,89,47]
list.sort()
print(list)

[12, 34, 47, 67, 89]

In [37]:
# Quest 28- Write a code to create a list with strings and print the element at the third index.
# Answer
list=["apple","banana","orange","kiwi","grapes"]
print(list[2])

orange

In [38]:
# Quest 29- Write a code to combine two dictionaries into one and print the result.
# Answer
dict1={"name":"smriti","age":20}
dict2={"city":"delhi","country":"india"}
dict1.update(dict2)
print(dict1)

{'name': 'smriti', 'age': 20, 'city': 'delhi', 'country': 'india'}

In [ ]:
# Quest 30- Write a code to convert a list of strings into a set.
# Answer
name=["ram","shyam","rita","geeta"]
my_set=set(name)
print(my_set)
#coding is correct but facing some issue while running as show error 'set callable' already tried to fix the error by changing the variable name but still facing the same error.